/** font-family 選用字型設定感謝 胡雨晴 hafterain (https://github.com/hafterain) 提供幫助 ❤️❤️❤️ */

:root,
:host {
  --bew-fonts-basic: bilifont, -apple-system, BlinkMacSystemFont, InterVariable, Inter, "Segoe UI", Cantarell,
    "Noto Sans", "Roboto Flex", Roboto;
  --bew-fonts-fallback: sans-serif, ui-sans-serif, system-ui, "Apple Color Emoji", "Twemoji Mozilla", "Noto Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", emoji;

  --bew-fonts-english: var(--bew-fonts-basic), var(--bew-fonts-fallback);
  --bew-fonts-mandarin-cn: var(--bew-fonts-basic), "PingFang SC", "Source Han Sans SC VF", "Noto Sans CJK SC",
    "Source Han Sans SC", "Microsoft YaHei", var(--bew-fonts-fallback);
  // TODO: 使用 CDN 載入思源黑體 to prevent 弱撚智 Microsoft JhengHei 視覺干擾
  /* Microsoft JhengHei 是我見過最腦殘弱智的字型，預設下文字太細，但是 windows 正體中文又預設用這個黑體渲染，能用 cdn 換字型就換 */
  --bew-fonts-mandarin-tw: var(--bew-fonts-basic), "PingFang TC", "Source Han Sans TC VF", "Noto Sans CJK TC",
    "Source Han Sans TC", "Microsoft JhengHei", var(--bew-fonts-fallback);
  /* Microsoft JhengHei 是我見過最腦殘弱智的字型，預設下文字太細，但是 windows 正體中文又預設用這個黑體渲染，能用 cdn 換字型就換 */
  --bew-fonts-cantonese: var(--bew-fonts-basic), "PingFang HK", "Source Han Sans HC VF", "Noto Sans CJK HK",
    "Source Han Sans HC", "Microsoft JhengHei", var(--bew-fonts-fallback);

  --bew-fonts-recommend: bilifont, Cantarell-BewlyInternalResource, ShangguSansSCVF-BewlyInternalResource,
    var(--bew-fonts-fallback);

  --bew-fonts-recommend-new: bilifont, Cantarell-BewlyInternalResource, "PingFang SC",
    NotoSansCJKSCVF-BewlyInternalResource, var(--bew-fonts-fallback);
}

.bewly-wrapper,
.bewly-design {
  code,
  kbd,
  samp,
  pre {
    font-family: "DroidSansMono-BewlyInternalResource", monospace, sans-serif; /* 简体中文 Windows 真够蠢 */
  }
}

.modify-fonts .bewly-wrapper,
.bewly-design.modify-fonts,
// Do not change the danmaku font because the Bilibili video player can change the font of danmaku
.bewly-design.modify-fonts *:not(.bili-danmaku-x-dm),
// 热搜点评
.bewly-design.modify-fonts .base-video-sections-v1 .video-sections-head_first-line .first-line-left .first-line-title,
// 接下来播放
.bewly-design.modify-fonts .recommend-list-v1 .rec-title,
// Font for the recommended video list on the right side of the video https://github.com/BewlyBewly/BewlyBewly/issues/1061
.bewly-design.modify-fonts .card-box .info .title,
// Search page video card title https://search.bilibili.com/all?keyword=test
.bewly-design.modify-fonts .bili-video-card .bili-video-card__info--tit {
  font-family: var(--bew-fonts);
}
